<!DOCTYPE html>
<html lang="en-AU" ng-app="myOrder" ng-controller="MyOrderController as moc">
    <head>
        <meta charset="utf-8" />
        <link href="myOrder.css" rel="stylesheet" type="text/css"/>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
        <script src="MyOrder.js" type="text/javascript"></script>
        <title>www.ostomy.net.au</title>
    </head>
    <body>
        <h1 id="mastHead">
            www.ostomy.net.au<span class="beta">{beta}</span>
        </h1>
        <div id="updateContent">
            <h3>
                11th July 2013
            </h3>
            <ul style="list-style-type:disc">
                <li>Updated underlying Stoma Appliance Scheme database to refect 1st July 2013 product deletions, additions and changes.</li>
            </ul>
            <p>Please email me at <strong id="docercetriiond"></strong> with any comments.</p>
        </div>                      
        <h2 id="instructionsHeader">
            Instructions<span id="instructionsToggle" ng-click="moc.instructions.boolean = !moc.instructions.boolean">{{moc.instructions.boolean ? 'Hide' : 'Show'}}</span>
        </h2>
        <div id="instructionsContent" ng-show="moc.instructions.boolean">
            <p>
                This web site allows you to create an order for supplies from the Stoma Appliance Scheme that you email to your ostomy association.
            </p>
            <h3>
                Five easy steps
            </h3>
            <ol style="list-style-type:decimal">
                <li>Type in your name, member number, email and ostomy society's email.</li>
                <li>Click on the items you need from the Favourites or Stoma Appliance Scheme lists.</li>
                <li>Click on each item in My Order to set the quantity you want.</li>
                <li>Optionally add any comments.</li>
                <li>Click on <strong>Send Email</strong> to create and send your email order to both the <strong>Ostomy's Email</strong> and your <strong>Email</strong> address.</li>
            </ol>
            <h3>
                Tips & Notes
            </h3>
            <ul style="list-style-type:disc">
                <li>To <em><strong>try it out</strong></em> just set Ostomy's Email to your own Email address so you receive both emails.</li>
                <li>Use the Hide/Show feature on the right-hand side to conceal or reveal these instructions and other sections.</li>
                <li>To reduce the quantity of a My Order item hold the <strong>shift key</strong> down while clicking on the item.</li>
                <li>When you have a <em><strong>medical certificate</strong></em> hold the <strong>control key</strong> down while clicking on an item for quantities greater than the allowance.</li>
                <li>Clicking on the red 'remove' that appears when the pointer is over an item deletes only that item.</li>
                <li>Favourites, for faster selection next visit, are automatically created when you click on a Stoma Appliance Scheme item.</li>
                <li>All product codes consist <em><strong>only</strong></em> of letters and/or numbers, having had all other characters e.g. - . / etc. and leading zeros removed.</li>
                <li>Find searches <em><strong>all</strong></em> items, is not case-sensitive, and will match any code/description that contains the search term<br />
                    e.g. 123 will match 1235, 401235, MDAP12301 etc.</li>
                <li><em><strong>No</strong></em> personal information is kept by this web site.</li>
                <li>Your name, member number, email, ostomy societies email and favourites are stored by your browser so if you go to use another computer or browser you have to redo these settings.</li>
                <li>Your ostomy association is responsible for compliance with the terms and quantities permitted by the Stoma Appliance Scheme e.g product groups/subgroups, restrictions etc.</li>
            </ul>
        </div>
        <h2 id="myOrderHeader">
            My Order
        </h2>
        <div id="myOrderContent">
            <form action="sendEmail.php" method="post" name="myOrderForm"  id="myOrderForm">
                <fieldset id="details">
                    <legend>Details</legend>
                    <div class="detailsColumn1">
                        <label>Name</label>
                        <label>Email</label>
                    </div>
                    <div class="detailsColumn2">
                        <input id="name" type="text" size="35" tabindex=1 ng-model="moc.myOrderName.text" name="name" required ng-maxlength="50">
                        <span id="nameError" ng-show="myOrderForm.name.$error.required">Required</span>
                        <input id="email" type="text" name="email" size="35" maxlength="50" tabindex=3>
                        <span id="emailError"></span>
                    </div>
                    <div class="detailsColumn3">
                        <label>Member Number</label>
                        <label>Ostomy's Email</label>
                    </div>
                    <div class="detailsColumn4">
                        <input id="memberNumber" type="text" name="memberNumber" size="10" maxlength="10" tabindex=2><span id="memberNumberError"></span><br />
                        <input id="ostomysEmail" type="text" name="ostomysEmail" size="35" maxlength="50" tabindex=4><span id="ostomysEmailError"></span>
                    </div>
                </fieldset>
                <table>
                    <thead id="myOrderTableHeader" style="display: none;">
                        <tr>
                            <th class="c" >Code</th>
                            <th class="m">Manuf.</th>
                            <th class="d">Description</th>
                            <th class="l">Allowance</th>
                            <th class="n">Quantity</th>
                            <th class="t">Units</th>
                            <th class="r"></th>
                        </tr>
                    </thead>
                    <tbody id="myOrderRows" class="unselectable">
                    </tbody>
                </table>
                <div id="comment" style="display: none;">
                    Comments<span id="commentError"></span>
                    <textarea id="commentText" name="comment" tabindex=5></textarea>
                </div>
                <div id="commentToggle">
                    Add Comment
                </div>
                <div id="sendEmail"><input id="sendEmailButton" type="button" name="sendEmail" value="Send Email" tabindex=6></div>
            </form>
        </div>
        <h2 id="favouritesHeader">
            Favourites<span id="favouritesToggle" ng-click="moc.favourites.boolean = !moc.favourites.boolean">{{moc.favourites.boolean ? 'Hide' : 'Show'}}</span>
        </h2>
        <div id="favouritesContent" ng-show="moc.favourites.boolean">
            <table>
                <thead>
                    <tr>
                        <th class="c" >Code</th>
                        <th class="m">Manuf.</th>
                        <th class="d">Description</th>
                        <th class="l">Allowance</th>
                        <th class="n"></th>
                        <th class="t">Units</th>
                        <th class="r"></th>
                    </tr>
                </thead>
                <tbody id="favouritesRows" class="unselectable">
                </tbody>
            </table>
        </div>
        <h2 id="sasSchemeHeader">
            Stoma Appliance Scheme<span id="sasSchemeToggle" ng-click="moc.stomaApplianceScheme.boolean = !moc.stomaApplianceScheme.boolean">{{moc.stomaApplianceScheme.boolean ? 'Hide' : 'Show'}}</span>
        </h2>
        <div id="sasSchemeContent" ng-show="moc.stomaApplianceScheme.boolean">
            <fieldset id="filters">
                <legend>Filters</legend>
            </fieldset>
            <table>
                <thead>
                    <tr>
                        <th class="c">Code</th>
                        <th class="m">Manuf.</th>
                        <th class="d">Description</th>
                        <th class="l">Allowance</th>
                        <th class="n"></th>
                        <th class="t">Units</th>
                        <th class="r"></th>
                    </tr>
                </thead>
                <tbody id="sasSchemeRows">
                </tbody>
            </table>
            <p><br />* Scheme shows 'pack of' but ordered as 'each'.<br />^ Scheme's maximum allowance not divisible by pack size therefore allowance rounded down to nearest whole number.
        </div>
        <div id="mastFoot">
            &copy; 2010 Dr Shaun Tennant
        </div>
    </body>
</html>
